<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wordcount::About</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
    <div style="text-align: center">
        <h1 style="font-family:Lobster, cursive;">ABOUT</h1>
        <p>멋쟁이 사자처럼 7기 <b>이은진</b>이 만든 프로젝트입니다.</p>
        <p>단어를 세주는 프로그램입니다~</p>

        <a href="{% url 'count'%}">home으로 가기</a>
    </div>
</body>
</html>